@import url(https://fonts.bunny.net/css?family=roboto:400);

:root, :root.light{ /* auto light mode */
    --body-background-color: lightblue;
    --segment-background-color: white;
    --text-color: black;
    --link-color: blue;
}
:root.dark { /* manual dark mode */
    --body-background-color: darkslategrey;
    --segment-background-color: black;
    --text-color: #d0d0d0;
    --link-color: lightblue;
}
@media(prefers-color-scheme: dark){/* auto dark mode */
    body{
        background-color: darkslategrey;
    }
    .segment{
        background-color: black;
    }
    .entry h3, .entry-description{
        color: #d0d0d0;
    }
    *{
        color: #d0d0d0;
    }
    #loading{
        background-color: black;
    }
    .transparent{
        background-color: transparent;
    }
    a{
        color: lightblue;
    }
}

html{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: lightblue; /* fallback if we don't support css variables */
    background-color: var(--body-background-color);
}

.segment{
    margin: 12px 0 0 0;
    padding: 12px 5% 12px 5%;
    background-color: white;
    background-color: var(--segment-background-color);
    border-radius: 5px;
    line-height: 1.5;
}

.segment-center{
    padding: 30px 12px 30px 12px;
    text-align: center;
}

.entry{
    line-height: 1.0;
    margin-bottom: 24px;
}

.blog-entries a{
    text-decoration: none;
}

.entry h3{
    color: black;
    color: var(--text-color);
    margin: -8px 0 0 0;
    font-size: 26px;
}

.entry-date{
    color: grey;
}

.entry-description{
    color: black;
    color: var(--text-color);
}

.content{
    /* margin: 112px 15% 24px 15%; */
    max-width: 940px;
    margin: 112px auto;
}

.divide{
    height: 2px;
    background-color: grey;
}

.space{
    margin: 18px 0 18px 0;
}

.blog-post h2{
    font-size: 32px;
    /*margin-bottom: 20px; */
    text-align: left;
}

h4, .blog-post .post-date{
    line-height: 0;
}

.blog-post{
    text-align: justify;
}

.post-date{
    color: grey;
}

.transparent{
    background-color: transparent;
}

.footer{
    display: inline;
    padding-left: 2px;
}

.language{
    float: right;
    display: inline;
}

.toggleColours{
    display: inline; float: right; margin-right: 10px;
}

*{
    color: black;
    color: var(--text-color);
}

a{
    color: blue;
    color: var(--link-color);
}

.selfie{
    background-image: url(ally.jpg);
    background-size: 96px 96px;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    margin: 0 auto;
}

.title{
    text-decoration: none;
}

a.svg {
    position: relative;
    display: inline-block; 
}
a.svg:after {
    content: ""; 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#loading{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 3px 0 3px 3px;
    background-color: white;
    background-color: var(--segment-background-color);
    display: none;
    visibility: hidden;
}

@media only screen and (max-width: 769px) {
    .segment{
        padding: 12px 12px 12px 12px;
    }

    .segment-center{
        padding: 30px 12px 30px 12px;
        text-align: center;
    }

    .content{
        margin: 24px 8px 24px 8px;
    }
}

/* background */

.background {
    z-index: -1;
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: .9;
    visibility: visible;
}

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}

/*
meow!
*/